{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome to Team Beta{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="jumbotron text-center py-5">
    <h1 class="display-4">Welcome to our Project, TEAM BETA!</h1>
    <p class="lead">We aim to bring you the best project management platform.</p>
    <hr class="my-4">
    <p>Get started by logging in or registering a new account.</p>

    {% if not user.is_authenticated %}
    <a class="btn btn-primary btn-lg m-2" href="#" role="button">Log In</a>
    <a class="btn btn-secondary btn-lg m-2" href="#" role="button">Register</a>
    {% else %}
    <p>You're already logged in. Feel free to explore the platform.</p>
    {% endif %}
</div>
{% endblock %}
